* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background: orange;
  width: 960px;
  margin: 0 auto;
}
header {
  /* font-family: 'Atomic Age'; */
  font-size: 35px;
  background: black;
  color: white;
  margin: 0 20px 0 20px;
  padding: 20px;
}
.wrapper {
  background: fuchsia;
  margin: 0 20px 0 20px;
}
.selection {
  height: 200px;
  margin: 0 20px 0 20px;
}
#rock {
  float: left;
  height: 200px;
  width: 200px;
  margin: 1% 5% 0% 5%;
}
#paper {
  float: left;
  height: 200px;
  width: 200px;
  margin: 0% 4% 1% 4%;
}
#scissors {
  float: left;
  height: 200px;
  width: 200px;
  margin: 0 0 0 10%;
}
.playerInfo {
  background: burlywood;
  margin: 0 20px 0 20px;
  padding: 30px; 
  height: 400px;
}
/* .info {
  margin: 10px;
} */
/* .playerInfo {
  background: yellow;
  height: 10%;
} */
#playerID {
  float: left;
  /* background: yellow; */
  width: 200px;
  /* position: relative; */
  /* left: 39%; */
  /* background: pink; */
}
#playerName {
  margin: 10px;
}
#submit {
  margin: 10px;
}

#player1 {
  /* position: relative; */
  float: left;
  margin: 0 0 0 18%;
  padding: 10px;
  height: 200px;
  width: 20%;
  left: 10%;
  color: white;
  background: grey;
}

#player2 {
  float: left;
  height: 200px;
  padding: 10px;
  width: 20%;
  left: 10%;
  color: white;
  background: grey;
}

/* #resetDB {
  height: 100px;
  width: 100px;
  color: white;
  background: red;
} */